@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>

    </br>
    </br>
    </br>
    </br>
    </br>
    <h2>Contact Us</h2>




    <h3>Git Hub: <a href="https://github.com/hhan3/Mv">https://github.com/hhan3/Mv</a></h3>


    <p>Haosen Han:                hhan3@luc.edu</p>
    <p>Kalogeropoulos Theodore:   tkalogeropoulos@luc.edu</p>
    <p>Lnu, Shoaib Hussain:       slnu3@luc.edu</p>

</div>
