@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <style>
        .video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -100;
        }

        .content {
            position: relative;
            z-index: 100;
        }
    </style>

    <video autoplay muted loop class="video-background">
        <source src="~/LUC.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    </br>
    </br>
    </br>
    </br>
    </br>
   
    <h2 style="font-size: 25px; color: orange; font-weight: bold;">
        Contact Us
    </h2>


    <h3 style="font-size: 20px; color: orange; font-weight: bold;">
        Git Hub: <a href="https://github.com/hhan3/Mv" style="color: orange;">https://github.com/hhan3/Mv</a>
    </h3>

    <p style="font-size: larger; color: orange; font-weight: bold;">Haosen Han: hhan3@luc.edu</p>
    <p style="font-size: larger; color: orange; font-weight: bold;">Kalogeropoulos Theodore: tkalogeropoulos@luc.edu</p>
    <p style="font-size: larger; color: orange; font-weight: bold;">Lnu, Shoaib Hussain: slnu3@luc.edu</p>


</div>
