<!-- ko with: home -->
<div class="jumbotron">
    <h1>Welcome to Movie Recommendation Website! </h1>
    <p class="lead">Our user-friendly program allows you to create a profile and set preferences for genres, actors, directors, and themes. We use data from IMDb and Rotten Tomatoes to recommend movies, complete with details like age rating, cast, release date, and critic reviews.  </p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Preferences and Profiles</h2>
        <p>This section can detail how users can set up their profiles and preferences.</p>
        <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Movie Recommendation Engine</h2>
        <p>
            This part can explain the functionality of our movie recommendation system.
        </p>
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Data Sources and Accuracy</h2>
        <p>This section can provide information about the data sources like IMDb and Rotten Tomatoes and how this data is used to enhance recommendation accuracy. </p>
        <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
