

@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</br>
</br>
</br>
</br>
</br>
</br>
<h2>About Us</h2>
<img src="@Url.Content("~/m.jpg")" alt="Movie Recommendation" />
<p>
    Welcome to our Movie Recommendation Website! Here we focus on providing personalized movie recommendations.
</p>
<p>
    Our platform employs cutting-edge artificial intelligence and intricate algorithms to assist users in discovering their preferred genres, actors, and directors, along with showcasing short films and trailers.
</p>

<p>
    We integrate data from reputable sources such as IMDb and Rotten Tomatoes to deliver the most precise ratings and critiques to our customers.

</p>
<p>
    Founded in Loyola University Chicago, our goal has always been to enhance your movie-watching experience. Thank you for choosing us for your movie discovery journey.
</p>
