@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<h2>About Us</h2>
<img src="@Url.Content("~/m.jpg")" alt="Movie Recommendation" />
<p>
    Welcome to our Movie Recommendation Website! Here we focus on providing personalized movie recommendations.
</p>
<p>
    Our platform utilizes sophisticated algorithms to analyze your preferences in genres, actors, directors, and shorts. We leverage data from trusted sources like IMDb and Rotten Tomatoes to bring you the most accurate recommendations, tailored just for you.
</p>
<p>
    Founded in Loyola University Chicago, our goal has always been to enhance your movie-watching experience. Thank you for choosing us for your movie discovery journey.
</p>



