@{
    ViewBag.Title = "Top100";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2>Top 100 films worldwide</h2>



@if (ViewBag.Top100Data != null)
{
<pre>@Html.Raw(ViewBag.Top100Data)</pre>

    <h2>Top 100 films worldwide</h2>
    <div id="allMoviesList"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var movies = @Html.Raw(ViewBag.Top100Data);

            function displayAllMovies() {
                var output = "<ul>";
                for (var i = 0; i < movies.length; i++) {
                    var movie = movies[i];
                    output += "<li>";
                    output += "<h3>" + movie.title + " (" + movie.year + ")</h3>";
                    output += "<p>Rank: " + movie.rank + "</p>";
                    output += "<p>" + movie.description + "</p>";
                    output += "<p>Genre: " + movie.genre.join(", ") + "</p>";
                    output += "<p>Rating: " + movie.rating + "</p>";
                   
                    output += "<img src='" + movie.big_image + "' alt='" + movie.title + " Image' style='width: 100%; max-width: 600px; height: auto;'>";
                 


                    output += "<a href='" + movie.imdb_link + "' target='_blank'>IMDb Link</a>";
                    output += "</li>";
                }
                output += "</ul>";

                var allMoviesListElement = document.getElementById("allMoviesList");
                if (allMoviesListElement) {
                    allMoviesListElement.innerHTML = output;
                }
            }

            displayAllMovies();
        });
    </script>



}
else
{
    <p>No Movie data available.</p>
}

