

@{
    ViewBag.Title = "Film Lists";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <br>
            <br>
            <br>
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <video autoplay muted loop id="background-video">
        <source src="~/Areas/HelpPage/r.mp4" type="video/mp4">

    </video>

    <section class="featured">
        <div class="content-wrapper" style="padding-top: 50px;">

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </section>


    <section class="content-wrapper main-content clear-fix">
    </section>
</div>

